name: README.md to index.html

on:
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Markdown-HTML
        # You may pin to the exact commit or the version.
        # uses: ZacJW/markdown-html-action@3865edcff67a98f3984bd6312111f0d4deec57d4
        uses: ZacJW/markdown-html-action@1.1.1
        with:
          # A JSON list of a list of paths to markdown files to render in to HTML files
          input_files: README.md
          # A JSON list of paths to save the rendered HTML files to
          output_files: index.html
          # An optional path to a CSS file that will be included as a <style> block in every output file
          builtin_stylesheet: mantra.css # default is 
